body{
    color: black;
    font-family: Calibri;
    background: url('../img/bg.jpg') no-repeat;
    margin: 0;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #111;
}


.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('../img/a17.png') no-repeat;
    overflow: hidden;
}
.jssora05l { 
    background-position: -10px -40px;
}
.jssora05r { 
    background-position: -70px -40px; 
}
.jssora05l:hover { 
    background-position: -130px -40px; 
}
.jssora05r:hover { 
    background-position: -190px -40px; 
}
.jssora05l.jssora05ldn { 
    background-position: -250px -40px; 
}
.jssora05r.jssora05rdn { 
    background-position: -310px -40px; 
}
.jssora05l.jssora05lds { 
    background-position: -10px -40px; 
    opacity: .3; 
    pointer-events: none; 
}
.jssora05r.jssora05rds { 
    background-position: -70px -40px; 
    opacity: .3; 
    pointer-events: none; 
}
.jssort01 .p {    
    position: absolute;    
    top: 0;    
    left: 0;    
    width: 72px;    
    height: 72px;
}
.jssort01 .t {    
    position: absolute;    
    top: 0;    
    left: 0;    
    width: 100%;    
    height: 100%;    
    border: none;
}
.jssort01 .w {    
    position: absolute;   
    top: 0px;  
    left: 0px;   
    width: 100%;   
    height: 100%;
    height: 100%;
    height: 100%;
}
.jssort01 .c {    
    position: absolute;   
    top: 0px;    
    left: 0px;
    width: 68px; 
    height: 68px;  
    border: #000 2px solid;  
    box-sizing: content-box; 
    background: url('../img/t01.png') -800px -800px no-repeat;  
    _background: none;
}
.jssort01 .pav .c {
            top: 2px;
            _top: 0px;  
            left: 2px;  
            _left: 0px; 
            width: 68px;   
            height: 68px; 
            border: #000 0px solid;
            _border: #fff 2px solid;  
            background-position: 50% 50%;
        }
        .jssort01 .p:hover .c {  
            top: 0px;    
            left: 0px; 
            width: 70px;  
            height: 70px;  
            border: #fff 1px solid;  
            background-position: 50% 50%;
        }
        .jssort01 .p.pdn .c {  
            background-position: 50% 50%;   
            width: 68px;   
            height: 68px;  
            border: #000 2px solid;
        }
        * html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav {    
            /* ie quirks mode adjust */    
            width /**/: 72px;    
            height /**/: 72px;
        }

        #jssor_1 {
            position:relative;
            margin:0 auto;
            top:0px;
            left:0px;
            width:400px;
            height:260px;
            overflow:hidden;
            visibility:hidden;
            background-color:#24262e;
            border: 8px solid #333;
            border-top:0px;
            border-bottom-left-radius:20px;
            border-bottom-right-radius:20px;
        }

        .insidejssor{
            cursor:default;
            position:relative;
            top:0px;
            left:0px;
            width:400px;
            height:200px;
            
            overflow:hidden;
        }

        .loading{
            position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);
        }
        .insideloading1{
            filter: alpha(opacity=70); 
            opacity: 0.7; 
            position: absolute; 
            display: block; 
            top: 0px; 
            left: 0px; 
            width: 50%; 
            height: 50%;

        }

        .insideloading2{
            position:absolute;
            display:block;
            background:url('img/loading.gif') no-repeat center center;
            top:0px;
            left:0px;
            width:50%;
            height:50%;
        }

        .profile{
             position:relative;
            display:block;
            text-align:center;
            top:130px;

        }
        .profile img{
            width:80px;
            height:80px;
             border-radius:10px;
            border-radius:10px;
            border:0px #333 solid;
        }

        .profile h1{
            font-size:16px;
            color:white;
            margin-top:0px;
            margin-bottom:0px;
        }

        .profile h2{
            font-size:10px;
            color:white;
            margin-top:2px;
        }

        .profile h3 img{
            width:15px;
            height:15px;
            margin-top:60px;
        }

        .rating img{
            margin-top:0px;
        }
     
.ratings{
    margin-top:0px;
    text-align:center;
    width:100%;
    min-width:200px;
}

.ratings ul{
    list-style-type: none;    
    display:inline-block;
}

.ratings ul li{
    float:left;
    text-align:center;
    font-size:28px;
    font-weight:bold;
    margin-left:0px;
    margin-right:0px;
    background-color: #333;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: white;
    margin: 5px;
    border-radius: 50px;
}

.comment table{
    font-size:16px;
    width:250px; 
    background-color:white;
    border-radius: 25px;
    padding: 10px;
    color: black;
}

.comment table tr th{
    text-align:left;
}

.comment{
    margin-top:40px;
}

.comment table tr td{
    text-align:left;
    font-weight:normal;
    padding-top:20px;
    padding-bottom:20px;
}

.comment table tr td ul li{
    font-size:18px;
}
.comment table tr th a{
    text-decoration:none;
}

.comment a img{
    vertical-align:middle;
    margin-right: 5px; 
    font-size:30px;
    border-radius:10px;
}

.form{
    width:400px;
    border-radius: 15px;
    background-color:white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    text-align:center;
}

.form table{
    width: 300px;
    margin: 0 auto;
}

.form img{
    margin-top:20px;
    margin-bottom: 30px;
    height:200px;
    width:242px;
}


.form input{
    width: 80%;
    margin-bottom: 5px;
}

.form input[type=submit]{
    background:#00cc66;
    color:white;
    padding:10px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-top: 20px;
    border-radius: 10px;
}

.form button{
    background:#3399ff;
    color:white;
    padding:10px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}